<div class="row">
  <div class="col box m-5">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a href="#" class="navbar-brand">Pilot</a>
      </div>
    </nav>
    <div class="row p-md-5">
      <div class="col-md-6 p-md-5">
        <div>
          <h1 class="main-heading">
            Bussiness intro for startups,
            <span class="highlight">simplified</span>
          </h1>
          <p class="text">
            Pilot's bussiness experts handle your intros every month so you can
            focus on you business.
          </p>
        </div>
      </div>
      <div class="col-md-6 p-md-5 form">
        <app-form></app-form>
      </div>
    </div>
  </div>
</div>
