/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  background: linear-gradient(to top, #5f2ee5, #d9d7f1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Mukta", sans-serif;
}
