<div class="row">
  <div class="col-md-12">
    <h1>Let's Talk!</h1>
  </div>
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="formTemplate ">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="firstName"
        required
        [formControl]="firstName"
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="lastName"
        [formControl]="lastName"
        required
      />
    </div>
    <div class="col-md-12">
      <label class="form-label">Company Name</label>
      <input
        type="text"
        class="form-control"
        name="companyName"
        [formControl]="companyName"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [formControl]="email"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        name="phone"
        [formControl]="phone"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">Industry</label>
      <input
        type="text"
        class="form-control"
        name="industry"
        [formControl]="industry"
        required
      />
    </div>
    <div class="col-md-6">
      <label class="form-label">Revenue</label>
      <input
        type="number"
        step="0.01"
        class="form-control"
        name="revenue"
        [formControl]="revenue"
        required
      />
    </div>
    <div class="col-md-12 text-center mt-3">
      <button class="btn btn-success" type="submit">Submit intro</button>
    </div>
  </div>
</form>
